.input-field-div{
  width: 567px;
  position: relative;
}

.nav-icons-side{
  position: static;
}

.profile-img-div{
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  .input-field-div{
    width: 95vw;
    position: relative;
  }

  .nav-icons-side{
    position: absolute;
    right: 70px;
    top: 5px;
  }

  .profile-img-div{
    position: static;
  }
}